div.alert.alert-warning {

  div.row > span.signature {
    text-decoration: underline;
    font-family: 'Yellowtail', cursive;
    font-size: 1.2rem;
  }

  div > span.date {
    padding-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .875rem;
  }
}