<div>
  <section class="row">
    <!-- Option -->
    <div class="col-auto">
      <input checked id="good" type="checkbox" />
      <label for="good"> &nbsp;Good</label>
    </div>
    <!-- Option -->
    <div class="col-auto">
      <input disabled id="better" type="checkbox" />
      <label for="better"> &nbsp;Better</label>
    </div>

    <div class="col-12 text-center">
      <div class="est-disclaimer">
        <span class="fa fa-info-circle text-secondary"></span> Estimates are valid for 30 days from date of estimate / A 50% deposit is
        requied before any project begins.
      </div>
    </div>

    <!-- TODO: Change to list-group which is responsive -->
   <div class="col-12">
      <div class="table-responsive">
      <h6>Optional Upgrades:</h6>
      <table class="table table-sm table-striped">
        <tbody>
          <tr>
            <td><input checked type="checkbox" /></td>
            <td>
              Install Malarkey Legacy shingles – class 4 high impact-resistant
              shingles (recommended by consultants & engineers)
            </td>
          </tr>
          <tr>
            <td><input checked type="checkbox" /></td>
            <td>
              High profile ridge cap - adds a beautiful aesthetic to your home
              by accent the ridge lines on your roof.
            </td>
          </tr>
          <tr>
            <td><input disabled type="checkbox" /></td>
            <td class="disabled">
              Ridge-venting - the most effective way to vent heat from your
              attic; strongly recommended by industry professionals.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
   </div>
  </section>
</div>
